#banner {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #003366;
    font-size: 18px;
    text-align: center;}

#button {

	text-align: left;
	justify-content: left;
	width: 42px; 
	height: 42px;


}


#content {

text-align: center;

}

   